Repository googleapis/python-spanner, pull requests merged in 2020-11, with the labels that each got.

#160 feat: DB-API driver + unit tests
  google/cloud/spanner_dbapi/__init__.py
  google/cloud/spanner_dbapi/_helpers.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/exceptions.py
  google/cloud/spanner_dbapi/parse_utils.py
  google/cloud/spanner_dbapi/parser.py
  google/cloud/spanner_dbapi/types.py
  google/cloud/spanner_dbapi/utils.py
  google/cloud/spanner_dbapi/version.py
  noxfile.py
  tests/unit/spanner_dbapi/__init__.py
  tests/unit/spanner_dbapi/test__helpers.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
  tests/unit/spanner_dbapi/test_globals.py
  tests/unit/spanner_dbapi/test_parse_utils.py
  tests/unit/spanner_dbapi/test_parser.py
  tests/unit/spanner_dbapi/test_types.py
  tests/unit/spanner_dbapi/test_utils.py
Labels: api: spanner, cla: yes, type: feature request

#169 feat: remove adding a dummy WHERE clause into UPDATE and DELETE statements
  google/cloud/spanner_dbapi/parse_utils.py
  tests/unit/spanner_dbapi/test_cursor.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, cla: yes, type: feature request

#170 test: unskip list_backup_operations sample test
  google/cloud/spanner_v1/instance.py
  samples/samples/backup_sample_test.py
Labels: api: spanner, cla: yes, samples

#171 fix: Add sqlparse dependency
  noxfile.py
  setup.py
Labels: api: spanner, cla: yes

#168 feat(dbapi): add aborted transactions retry support
  google/cloud/spanner_dbapi/checksum.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/exceptions.py
  tests/system/test_system_dbapi.py
  tests/unit/spanner_dbapi/test_checksum.py
  tests/unit/spanner_dbapi/test_connect.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, cla: yes, type: feature request

#174 Revert "test: unskip list_backup_operations sample test"
  google/cloud/spanner_v1/instance.py
  samples/samples/backup_sample_test.py
Labels: api: spanner, cla: yes, samples
