Repository googleapis/python-spanner, pull requests merged in 2020-12, with the labels that each got.

#181 fix(dbapi): executemany() hiding all the results except the last
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/utils.py
  tests/system/test_system_dbapi.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, cla: yes, type: bug

#161 feat: add support for ssl credentials; add throttled field to UpdateDatabaseDdlMetadata
  docs/spanner_admin_database_v1/types.rst
  docs/spanner_admin_instance_v1/types.rst
  docs/spanner_v1/types.rst
  google/cloud/spanner_admin_database_v1/proto/spanner_database_admin.proto
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/grpc.py
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/grpc_asyncio.py
  google/cloud/spanner_admin_database_v1/types/spanner_database_admin.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/grpc.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/grpc_asyncio.py
  google/cloud/spanner_v1/services/spanner/transports/grpc.py
  google/cloud/spanner_v1/services/spanner/transports/grpc_asyncio.py
  scripts/fixup_spanner_admin_database_v1_keywords.py
  scripts/fixup_spanner_admin_instance_v1_keywords.py
  scripts/fixup_spanner_v1_keywords.py
  synth.metadata
  tests/unit/gapic/spanner_admin_database_v1/test_database_admin.py
  tests/unit/gapic/spanner_admin_instance_v1/test_instance_admin.py
  tests/unit/gapic/spanner_v1/test_spanner.py
Labels: cla: yes, context: none

#180 docs: update CHANGELOG breaking change comment
  CHANGELOG.md
Labels: api: spanner, cla: yes

#193 feat: add support for instance labels
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/instance.py
  tests/unit/test_client.py
  tests/unit/test_instance.py
Labels: api: spanner, cla: yes

#194 docs: homogenize region tags
  samples/samples/backup_sample.py
Labels: api: spanner, automerge, cla: yes

#195 test: improve cleanup to prevent RESOURCE_EXHAUSTED error
  tests/system/test_system.py
  tests/system/test_system_dbapi.py
Labels: api: spanner, cla: yes

#199 fix: Convert PBs in system test cleanup
  tests/system/test_system.py
  tests/system/test_system_dbapi.py
Labels: api: spanner, cla: yes

#192 fix: remove client side gRPC receive limits
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/__init__.py
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/grpc.py
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/grpc_asyncio.py
  google/cloud/spanner_admin_database_v1/types/__init__.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/__init__.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/grpc.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/grpc_asyncio.py
  google/cloud/spanner_admin_instance_v1/types/__init__.py
  google/cloud/spanner_v1/services/spanner/transports/__init__.py
  google/cloud/spanner_v1/services/spanner/transports/grpc.py
  google/cloud/spanner_v1/services/spanner/transports/grpc_asyncio.py
  google/cloud/spanner_v1/types/__init__.py
  synth.metadata
  tests/unit/gapic/spanner_admin_database_v1/test_database_admin.py
  tests/unit/gapic/spanner_admin_instance_v1/test_instance_admin.py
  tests/unit/gapic/spanner_v1/test_spanner.py
Labels: api: spanner, cla: yes, context: partial

#179 chore: require samples checks
  .github/sync-repo-settings.yaml
Labels: api: spanner, automerge, cla: yes, samples

#172 feat: autocommit sample
  samples/samples/autocommit.py
  samples/samples/autocommit_test.py
Labels: api: spanner, cla: yes, samples

#177 fix(dbapi): autocommit enabling fails if no transactions begun
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parse_utils.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, cla: yes, type: bug

#202 docs: homogenize region tags pt 2
  samples/samples/backup_sample.py
Labels: api: spanner, cla: yes
