Repository googleapis/python-spanner, pull requests merged in 2021-08, with the labels that each got.

#477 chore: require CODEOWNER review and up to date branches
  .github/sync-repo-settings.yaml
Labels: api: spanner, cla: yes

#428 samples: add default leader options samples
  samples/samples/conftest.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, cla: yes, samples

#412 feat: use DML batches in `executemany()` method
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  tests/system/test_system_dbapi.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, type: feature request, cla: yes

#474 tests: move systests into separate modules, refactor using pytest
  tests/system/_helpers.py
  tests/system/_sample_data.py
  tests/system/conftest.py
  tests/system/test_backup_api.py
  tests/system/test_database_api.py
  tests/system/test_dbapi.py
  tests/system/test_instance_api.py
  tests/system/test_session_api.py
  tests/system/test_streaming_chunking.py
  tests/system/test_system.py
  tests/system/test_system_dbapi.py
  tests/system/test_table_api.py
Labels: api: spanner, cla: yes

#479 tests: allow prerelease dependency versions under Python 3.9
  docs/snapshot-usage.rst
  noxfile.py
  owlbot.py
  samples/samples/conftest.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  testing/constraints-3.9.txt
  tests/unit/test__helpers.py
  tests/unit/test_backup.py
Labels: api: spanner, cla: yes, automerge

#481 ci: split systests into separate Kokoro session
  .kokoro/presubmit/presubmit.cfg
  .kokoro/presubmit/system-3.8.cfg
  owlbot.py
Labels: api: spanner, cla: yes

#484 fix(samples): batch_update() results processing error
  samples/samples/snippets.py
Labels: api: spanner, type: bug, cla: yes, samples

#525 tests: bump instance operation timeout to 240 seconds
  samples/samples/conftest.py
  tests/system/_helpers.py
  tests/system/conftest.py
  tests/system/test_backup_api.py
  tests/system/test_database_api.py
  tests/system/test_dbapi.py
  tests/system/test_instance_api.py
  tests/system/test_session_api.py
Labels: api: spanner, cla: yes

#527 tests: revert testing against prerelease deps on Python 3.9
  testing/constraints-3.9.txt
Labels: api: spanner, cla: yes, automerge

#530 ci: make separate systest job required for merge
  .github/sync-repo-settings.yaml
Labels: api: spanner, cla: yes, automerge

#531 tests: use datetime.now() with timezone to handle DST correctly
  tests/system/test_backup_api.py
Labels: api: spanner, cla: yes

#526 chore: add samples for JSON
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, cla: yes, automerge, samples

#549 chore: migrate to main branch
  .github/sync-repo-settings.yaml
  .github/workflows/integration-tests-against-emulator.yaml
  .kokoro/build.sh
  .kokoro/test-samples-impl.sh
  CONTRIBUTING.rst
  owlbot.py
Labels: api: spanner, cla: yes, automerge

#561 chore: remove fossils of pylint
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/instance.py
  google/cloud/spanner_v1/param_types.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/streamed.py
  pylint.config.py
Labels: api: spanner, cla: yes
