Repository googleapis/python-spanner, pull requests merged in 2021-06, with the labels that each got.

#356 chore: s.remove_staging_dirs() should only be called once
  owlbot.py
Labels: api: spanner, automerge, cla: yes

#129 feat: add query statistics package support
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/client.py
  tests/unit/test__helpers.py
  tests/unit/test_client.py
Labels: api: spanner, cla: yes

#358 fix: update to support the open-telemetry status code spec change
  google/cloud/spanner_v1/_opentelemetry_tracing.py
  setup.py
  testing/constraints-3.6.txt
  tests/_helpers.py
  tests/system/test_system.py
  tests/unit/test__opentelemetry_tracing.py
  tests/unit/test_batch.py
  tests/unit/test_session.py
  tests/unit/test_snapshot.py
  tests/unit/test_transaction.py
Labels: api: spanner, cla: yes

#368 fix(deps): add packaging requirement
  setup.py
  testing/constraints-3.6.txt
Labels: api: spanner, automerge, cla: yes

#372 fix(db_api): use sqlparse to split DDL statements
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parse_utils.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, automerge, cla: yes, type: bug

#373 feat: update query stats samples
  samples/samples/snippets.py
Labels: api: spanner, automerge, cla: yes, samples

#324 feat: add RPC priority support
  google/cloud/spanner_v1/__init__.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  tests/system/test_system.py
  tests/unit/test_batch.py
  tests/unit/test_database.py
  tests/unit/test_session.py
  tests/unit/test_snapshot.py
  tests/unit/test_transaction.py
Labels: api: spanner, cla: yes

#360 fix: classify batched DDL statements
  google/cloud/spanner_dbapi/cursor.py
  test.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, cla: yes

#313 feat: add support for low-cost instances
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/instance.py
  tests/system/test_system.py
  tests/unit/test_client.py
  tests/unit/test_instance.py
Labels: api: spanner, cla: yes

#387 docs: fix docstring for session.py
  google/cloud/spanner_v1/session.py
Labels: api: spanner, cla: yes, type: docs
