Repository googleapis/python-spanner, pull requests merged in 2021-04, with the labels that each got.

#300 chore: use gcp-sphinx-docfx-yaml
  noxfile.py
Labels: api: spanner, cla: yes

#288 chore: add RequestOptions proto; add optimizer_statistics_package to QueryOptions
  UPGRADING.md
  google/cloud/spanner_admin_database_v1/proto/spanner_database_admin.proto
  google/cloud/spanner_admin_database_v1/services/database_admin/async_client.py
  google/cloud/spanner_admin_database_v1/services/database_admin/client.py
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/base.py
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/grpc.py
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/grpc_asyncio.py
  google/cloud/spanner_admin_database_v1/types/__init__.py
  google/cloud/spanner_admin_database_v1/types/spanner_database_admin.py
  google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin.proto
  google/cloud/spanner_admin_instance_v1/services/instance_admin/async_client.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/client.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/base.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/grpc.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/grpc_asyncio.py
  google/cloud/spanner_admin_instance_v1/types/__init__.py
  google/cloud/spanner_v1/proto/keys.proto
  google/cloud/spanner_v1/proto/query_plan.proto
  google/cloud/spanner_v1/proto/result_set.proto
  google/cloud/spanner_v1/proto/spanner.proto
  google/cloud/spanner_v1/proto/transaction.proto
  google/cloud/spanner_v1/proto/type.proto
  google/cloud/spanner_v1/services/spanner/async_client.py
  google/cloud/spanner_v1/services/spanner/transports/base.py
  google/cloud/spanner_v1/services/spanner/transports/grpc.py
  google/cloud/spanner_v1/services/spanner/transports/grpc_asyncio.py
  google/cloud/spanner_v1/types/__init__.py
  google/cloud/spanner_v1/types/spanner.py
  noxfile.py
  scripts/fixup_spanner_v1_keywords.py
  setup.py
  synth.metadata
  testing/constraints-3.6.txt
  tests/unit/gapic/spanner_admin_database_v1/__init__.py
  tests/unit/gapic/spanner_admin_database_v1/test_database_admin.py
  tests/unit/gapic/spanner_admin_instance_v1/__init__.py
  tests/unit/gapic/spanner_admin_instance_v1/test_instance_admin.py
  tests/unit/gapic/spanner_v1/__init__.py
  tests/unit/gapic/spanner_v1/test_spanner.py
Labels: api: spanner, automerge, cla: yes, context: partial

#306 fix: support INSERT from SELECT clause with args
  google/cloud/spanner_dbapi/parse_utils.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, cla: yes, type: bug

#307 chore: add default assignee for issues
  .github/blunderbuss.yml
Labels: api: spanner, cla: yes

#309 chore: prevent normalization of semver versioning
  setup.py
Labels: api: spanner, cla: yes

#316 feat: added support for numeric field for python decimal value
  google/cloud/spanner_dbapi/parse_utils.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, cla: yes

#317 feat(dbapi): remove string conversion for numeric fields
  google/cloud/spanner_dbapi/parse_utils.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, cla: yes

#314 fix: correctly set resume token when restarting streams
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/snapshot.py
  tests/unit/test_snapshot.py
Labels: api: spanner, cla: yes

#318 chore(revert): revert preventing normalization
  setup.py
Labels: api: spanner, cla: yes

#319 chore: migrate to owl bot
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  .github/header-checker-lint.yml
  .gitignore
  .kokoro/release.sh
  .kokoro/release/common.cfg
  .pre-commit-config.yaml
  docs/_static/custom.css
  docs/conf.py
  owlbot.py
  renovate.json
  samples/samples/noxfile.py
  synth.metadata
  synth.py
Labels: api: spanner, automerge, cla: yes

#325 perf: use protobuf for metadata to reduce type conversions
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/streamed.py
  tests/unit/test_streamed.py
Labels: api: spanner, cla: yes
