Repository googleapis/python-spanner, pull requests merged in 2021-07, with the labels that each got.

#384 ci: label and clean up instanes used for testing samples
  samples/samples/autocommit_test.py
  samples/samples/backup_sample_test.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, cla: yes, samples

#397 test: create instance before patching quickstart
  samples/samples/quickstart_test.py
  samples/samples/snippets_test.py
Labels: api: spanner, automerge, cla: yes

#392 feat: add sample for low cost instances
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, cla: yes, samples

#401 chore: remove 'test_utils' fossil
  test_utils/credentials.json.enc
  test_utils/scripts/circleci/get_tagged_package.py
  test_utils/scripts/circleci/twine_upload.sh
  test_utils/scripts/get_target_packages.py
  test_utils/scripts/get_target_packages_kokoro.py
  test_utils/scripts/run_emulator.py
  test_utils/scripts/update_docs.sh
  test_utils/setup.py
  test_utils/test_utils/__init__.py
  test_utils/test_utils/imports.py
  test_utils/test_utils/retry.py
  test_utils/test_utils/system.py
Labels: api: spanner, cla: yes

#422 test: skip failing query_options sample
  samples/samples/snippets_test.py
Labels: api: spanner, cla: yes, samples

#420 chore: add sample name label to created instances
  samples/samples/autocommit_test.py
  samples/samples/backup_sample_test.py
  samples/samples/quickstart_test.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, cla: yes, samples

#419 tests: retry 'create_instance_with_processing_units' on 429
  samples/samples/snippets_test.py
Labels: api: spanner, cla: yes, samples

#423 tests: refactor samples fixtures
  samples/samples/autocommit_test.py
  samples/samples/backup_sample_test.py
  samples/samples/conftest.py
  samples/samples/quickstart.py
  samples/samples/quickstart_test.py
  samples/samples/requirements-test.txt
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, cla: yes, samples

#415 fix(deps): pin 'google-{api,cloud}-core' to allow 2.x versions
  samples/samples/conftest.py
  setup.py
Labels: api: spanner, cla: yes

#429 fix: avoid bad version of `opentelemetry-instrumentation`
  setup.py
Labels: api: spanner, cla: yes

#432 tests: avoid using real credentials unit tests
  tests/unit/spanner_dbapi/test_connect.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, cla: yes

#399 feat: add configurable leader placement support
  google/cloud/spanner_v1/database.py
  tests/system/test_system.py
  tests/unit/test_client.py
  tests/unit/test_database.py
Labels: api: spanner, automerge, cla: yes

#366 chore: use templated noxfile.py
  noxfile.py
  owlbot.py
Labels: api: spanner, cla: yes

#471 tests: harden old instance cleanup against NotFound
  samples/samples/conftest.py
Labels: api: spanner, cla: yes, samples

#434 fix: support merging for NUMERIC values
  google/cloud/spanner_v1/streamed.py
  tests/unit/test_streamed.py
Labels: api: spanner, automerge, cla: yes
