Repository googleapis/python-spanner, pull requests merged in 2021-03, with the labels that each got.

#219 feat: add `Database.list_tables` method
  docs/api-reference.rst
  docs/index.rst
  docs/table-api.rst
  docs/table-usage.rst
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/instance.py
  google/cloud/spanner_v1/table.py
  tests/system/test_system.py
  tests/unit/test_database.py
  tests/unit/test_table.py
Labels: api: spanner, cla: yes

#245 fix: remove print statement
  google/cloud/spanner_v1/streamed.py
Labels: api: spanner, cla: yes

#247 samples: PITR samples backup fix
  samples/samples/backup_sample.py
Labels: api: spanner, cla: yes, samples

#249 samples: parameterises create backup version time
  samples/samples/backup_sample.py
  samples/samples/backup_sample_test.py
Labels: api: spanner, cla: yes, samples

#255 test: deflake autocommit sample test
  samples/samples/autocommit_test.py
Labels: api: spanner, cla: yes, samples

#229 refactor(db_api): remove unused variables and add docs
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
Labels: api: spanner, cla: yes

#231 test(db_api): increase coverage of db_api
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
  tests/unit/spanner_dbapi/test_utils.py
Labels: api: spanner, cla: yes

#251 feat: add support for custom timeout and retry parameters in execute_update method in transactions
  google/cloud/spanner_v1/transaction.py
  tests/unit/test_transaction.py
Labels: api: spanner, cla: yes

#224 chore: add CMEK protos
  docs/spanner_admin_database_v1/database_admin.rst
  docs/spanner_admin_database_v1/services.rst
  docs/spanner_admin_instance_v1/instance_admin.rst
  docs/spanner_admin_instance_v1/services.rst
  docs/spanner_v1/services.rst
  docs/spanner_v1/spanner.rst
  google/cloud/spanner_admin_database_v1/__init__.py
  google/cloud/spanner_admin_database_v1/proto/backup.proto
  google/cloud/spanner_admin_database_v1/proto/common.proto
  google/cloud/spanner_admin_database_v1/proto/spanner_database_admin.proto
  google/cloud/spanner_admin_database_v1/services/database_admin/async_client.py
  google/cloud/spanner_admin_database_v1/services/database_admin/client.py
  google/cloud/spanner_admin_database_v1/services/database_admin/pagers.py
  google/cloud/spanner_admin_database_v1/types/__init__.py
  google/cloud/spanner_admin_database_v1/types/backup.py
  google/cloud/spanner_admin_database_v1/types/common.py
  google/cloud/spanner_admin_database_v1/types/spanner_database_admin.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/client.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/pagers.py
  google/cloud/spanner_v1/services/spanner/client.py
  google/cloud/spanner_v1/services/spanner/pagers.py
  google/cloud/spanner_v1/types/transaction.py
  scripts/fixup_spanner_admin_database_v1_keywords.py
  synth.metadata
  tests/unit/gapic/spanner_admin_database_v1/test_database_admin.py
Labels: api: spanner, cla: yes, context: partial

#259 docs: fix docstring types and typos
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/backup.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/instance.py
  google/cloud/spanner_v1/keyset.py
  google/cloud/spanner_v1/param_types.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/streamed.py
  google/cloud/spanner_v1/transaction.py
Labels: api: spanner, cla: yes

#277 feat(db_api): support executing several DDLs separated by semicolon
  google/cloud/spanner_dbapi/cursor.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, cla: yes, type: feature request

#105 feat: add support for CMEK
  google/cloud/spanner_v1/backup.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/instance.py
  tests/system/test_system.py
  tests/unit/test_backup.py
  tests/unit/test_database.py
  tests/unit/test_instance.py
Labels: cla: yes

#283 refactor: remove encryption_config property from Backup
  google/cloud/spanner_v1/backup.py
  tests/system/test_system.py
  tests/unit/test_backup.py
Labels: api: spanner, cla: yes

#287 build: loosen the proto-plus dependency
  setup.py
Labels: api: spanner, cla: yes

#286 fix: avoid consuming pending null values when merging
  google/cloud/spanner_v1/streamed.py
  tests/unit/test_streamed.py
Labels: api: spanner, cla: yes

#284 feat: add encryption_info to Database
  google/cloud/spanner_v1/database.py
  tests/unit/test_database.py
Labels: api: spanner, cla: yes

#278 feat: added retry and timeout params to partition read in database and snapshot class
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  tests/unit/test_database.py
  tests/unit/test_snapshot.py
  tests/unit/test_transaction.py
Labels: api: spanner, cla: yes

#285 fix(db_api): revert Mutations API usage
  google/cloud/spanner_dbapi/parse_utils.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, cla: yes

#290 fix(db_api): ensure DDL statements are being executed
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  tests/system/test_system_dbapi.py
Labels: api: spanner, cla: yes

#291 docs: fix snapshot usage
  docs/snapshot-usage.rst
Labels: api: spanner, automerge, cla: yes

#298 chore: loosen opentelemetry dependencies
  setup.py
  tests/system/test_system.py
Labels: api: spanner, cla: yes

#275 feat: add samples for CMEK support
  samples/samples/backup_sample.py
  samples/samples/backup_sample_test.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, cla: yes, samples
