Repository googleapis/python-spanner, pull requests merged in 2021-02, with the labels that each got.

#217 test: make system test timeout configurable and default to 60 seconds
  tests/system/test_system.py
  tests/system/test_system_dbapi.py
Labels: api: spanner, automerge, cla: yes

#223 test: fix credential scope assertions
  tests/unit/test_client.py
Labels: api: spanner, automerge, cla: yes

#204 chore: add support for commit stats and PITR (via synth)
  google/cloud/spanner_admin_database_v1/proto/backup.proto
  google/cloud/spanner_admin_database_v1/proto/spanner_database_admin.proto
  google/cloud/spanner_admin_database_v1/services/database_admin/async_client.py
  google/cloud/spanner_admin_database_v1/services/database_admin/client.py
  google/cloud/spanner_admin_database_v1/services/database_admin/pagers.py
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/grpc.py
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/grpc_asyncio.py
  google/cloud/spanner_admin_database_v1/types/backup.py
  google/cloud/spanner_admin_database_v1/types/common.py
  google/cloud/spanner_admin_database_v1/types/spanner_database_admin.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/async_client.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/client.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/pagers.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/grpc.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/grpc_asyncio.py
  google/cloud/spanner_admin_instance_v1/types/spanner_instance_admin.py
  google/cloud/spanner_v1/proto/spanner.proto
  google/cloud/spanner_v1/services/spanner/async_client.py
  google/cloud/spanner_v1/services/spanner/client.py
  google/cloud/spanner_v1/services/spanner/pagers.py
  google/cloud/spanner_v1/services/spanner/transports/grpc.py
  google/cloud/spanner_v1/services/spanner/transports/grpc_asyncio.py
  google/cloud/spanner_v1/types/keys.py
  google/cloud/spanner_v1/types/mutation.py
  google/cloud/spanner_v1/types/query_plan.py
  google/cloud/spanner_v1/types/result_set.py
  google/cloud/spanner_v1/types/spanner.py
  google/cloud/spanner_v1/types/transaction.py
  google/cloud/spanner_v1/types/type.py
  scripts/fixup_spanner_v1_keywords.py
  synth.metadata
  tests/unit/gapic/spanner_admin_database_v1/test_database_admin.py
  tests/unit/gapic/spanner_admin_instance_v1/test_instance_admin.py
  tests/unit/gapic/spanner_v1/test_spanner.py
Labels: api: spanner, automerge, cla: yes, context: partial

#228 fix(db_api): use correct connection attribute when handling Aborted errors
  google/cloud/spanner_dbapi/cursor.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, cla: yes

#227 fix(db_api): add dummy lastrowid attribute
  google/cloud/spanner_dbapi/cursor.py
Labels: api: spanner, cla: yes, type: bug

#236 fix: use datetime timezone info when generating timestamp strings
  google/cloud/spanner_v1/_helpers.py
  tests/unit/test__helpers.py
Labels: api: spanner, cla: yes

#233 fix(db_api): update parse_util output for homogeneous statements
  google/cloud/spanner_dbapi/parse_utils.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, cla: yes

#148 feat: add support for Point In Time Recovery (PITR)
  google/cloud/spanner_v1/backup.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/instance.py
  tests/system/test_system.py
  tests/unit/test_backup.py
  tests/unit/test_database.py
Labels: api: spanner, cla: yes

#238 test: fix PITR restored database version time assertion
  test.py
  tests/system/test_system.py
Labels: api: spanner, automerge, cla: yes

#205 feat: add support to log commit stats
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/instance.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/transaction.py
  tests/unit/test_batch.py
  tests/unit/test_database.py
  tests/unit/test_instance.py
  tests/unit/test_session.py
  tests/unit/test_transaction.py
Labels: api: spanner, automerge, cla: yes

#240 perf: improve streaming performance
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/streamed.py
  tests/unit/test__helpers.py
  tests/unit/test_snapshot.py
  tests/unit/test_streamed.py
Labels: api: spanner, cla: yes

#222 feat: add samples for PITR
  samples/samples/backup_sample.py
  samples/samples/backup_sample_test.py
Labels: api: spanner, automerge, cla: yes, samples

#241 feat: add sample for commit stats
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  test.py
Labels: api: spanner, cla: yes, samples
