Repository googleapis/python-spanner, pull requests merged in 2021-10, with the labels that each got.

#593 fix: add support for json data type
  google/cloud/spanner_dbapi/parse_utils.py
  google/cloud/spanner_v1/__init__.py
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/data_types.py
  tests/system/test_backup_api.py
  tests/system/test_dbapi.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, cla: yes

#609 fix: remove database_version_time param from test_instance_list_backups
  tests/system/test_backup_api.py
Labels: api: spanner, cla: yes

#581 test: delete referencing databases before backups
  tests/system/_helpers.py
Labels: api: spanner, cla: yes

#475 feat(db_api): add an ability to set ReadOnly/ReadWrite connection mode
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  tests/system/test_dbapi.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, type: feature request, cla: yes

#603 feat(db_api): make rowcount property NotImplemented
  google/cloud/spanner_dbapi/cursor.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, type: feature request, cla: yes

#624 test: increase timeout and number of retries for system and sample tests
  samples/samples/backup_sample.py
  samples/samples/conftest.py
  tests/system/_helpers.py
Labels: api: spanner, cla: yes, automerge
