Repository googleapis/python-spanner, pull requests merged in 2021-01, with the labels that each got.

#203 chore: add constraints file
  testing/constraints-3.10.txt
  testing/constraints-3.11.txt
  testing/constraints-3.6.txt
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
  testing/constraints-3.9.txt
Labels: api: spanner, cla: yes

#206 fix(dbapi): Spanner protobuf changes causes KeyError's
  google/cloud/spanner_dbapi/cursor.py
Labels: api: spanner, cla: yes, type: bug

#186 fix!: convert operations pbs into Operation objects when listing oper…
  google/cloud/spanner_v1/instance.py
  tests/unit/test_instance.py
Labels: api: spanner, cla: yes, do not merge

#188 feat: adding missing docstrings for functions & classes
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parse_utils.py
  google/cloud/spanner_dbapi/parser.py
  google/cloud/spanner_dbapi/utils.py
Labels: cla: yes

#210 test: unskip list_backup_operations sample
  samples/samples/backup_sample_test.py
Labels: api: spanner, cla: yes, samples

#214 test(dbapi): add retry to autocommit sample to reduce flakiness
  samples/samples/autocommit_test.py
Labels: api: spanner, cla: yes, samples

#218 build: migrate to flakybot
  .kokoro/test-samples.sh
  .kokoro/trampoline_v2.sh
Labels: api: spanner, automerge, cla: yes
