Repository googleapis/python-spanner, pull requests merged in 2021-11, with the labels that each got.

#606 refactor: Cursor.description property
  google/cloud/spanner_dbapi/_helpers.py
  google/cloud/spanner_dbapi/cursor.py
Labels: api: spanner, type: process, cla: yes

#641 chore: add default_version and codeowner_team to .repo-metadata.json
  .repo-metadata.json
Labels: api: spanner, cla: yes

#584 feat(db_api): support stale reads
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  tests/system/test_dbapi.py
  tests/unit/spanner_dbapi/test_connection.py
Labels: api: spanner, type: feature request, cla: yes

#587 chore: drop six
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/pool.py
  tests/unit/test__helpers.py
  tests/unit/test_pool.py
Labels: api: spanner, cla: yes

#595 feat(db_api): raise exception with message for executemany()
  google/cloud/spanner_dbapi/cursor.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, type: feature request, cla: yes

#643 chore: update doc links from googleapis.dev to cloud.google.com
  .repo-metadata.json
  README.rst
Labels: api: spanner, cla: yes

#644 perf(dbapi): set headers correctly for dynamic routing
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/version.py
  tests/system/test_dbapi.py
Labels: api: spanner, cla: yes, automerge

#627 feat(db_api): support JSON data type
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/data_types.py
  samples/samples/snippets_test.py
  tests/system/test_dbapi.py
  tests/system/test_session_api.py
  tests/unit/test__helpers.py
Labels: api: spanner, cla: yes

#636 refactor(db_api): cleanup the code
  google/cloud/spanner_dbapi/_helpers.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parse_utils.py
  google/cloud/spanner_dbapi/parser.py
  tests/unit/spanner_dbapi/test_parser.py
Labels: api: spanner, cla: yes, automerge
