Repository googleapis/python-spanner, pull requests merged in 2022-08, with the labels that each got.

#781 fix(deps): allow protobuf < 5.0.0
  noxfile.py
  owlbot.py
  setup.py
  testing/constraints-3.7.txt
Labels: api: spanner, automerge, size: s

#782 feat: support JSON object consisting of an array.
  google/cloud/spanner_v1/data_types.py
  tests/system/test_dbapi.py
  tests/system/test_session_api.py
Labels: api: spanner, automerge, size: m

#771 fix: if JsonObject serialized to None then return `null_value` instead of `string_value`
  google/cloud/spanner_v1/_helpers.py
  tests/unit/test__helpers.py
Labels: api: spanner, size: s
