Repository googleapis/python-spanner, pull requests merged in 2022-12, with the labels that each got.

#867 feat: fgac support and samples
  google/cloud/spanner_dbapi/parse_utils.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/instance.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  tests/system/test_database_api.py
  tests/unit/spanner_dbapi/test_parse_utils.py
  tests/unit/test_database.py
  tests/unit/test_instance.py
  tests/unit/test_pool.py
  tests/unit/test_session.py
Labels: api: spanner, automerge, samples, size: l

#866 test: deflake system test
  tests/system/test_dbapi.py
Labels: api: spanner, size: l

#840 feat: Inline Begin transction for RW transactions
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  tests/system/test_session_api.py
  tests/unit/test_pool.py
  tests/unit/test_session.py
  tests/unit/test_snapshot.py
  tests/unit/test_spanner.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: xl

#871 fix: fix for binding of pinging and bursty pool with database role
  google/cloud/spanner_v1/pool.py
  tests/system/test_database_api.py
  tests/unit/test_pool.py
Labels: api: spanner, size: m

#874 tests: adding support for array testing in postgres
  tests/_fixtures.py
  tests/system/test_session_api.py
Labels: api: spanner, size: s
