Repository googleapis/python-spanner, pull requests merged in 2022-01, with the labels that each got.

#654 fix: Django and SQLAlchemy APIs are failing to use rowcount
  google/cloud/spanner_dbapi/cursor.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, type: bug

#657 chore(spanner): Add benchwrapper.
  benchmark/__init__.py
  benchmark/benchwrapper/README.md
  benchmark/benchwrapper/__init__.py
  benchmark/benchwrapper/main.py
  benchmark/benchwrapper/proto/README.md
  benchmark/benchwrapper/proto/__init__.py
  benchmark/benchwrapper/proto/spanner.proto
  benchmark/benchwrapper/proto/spanner_pb2.py
  benchmark/benchwrapper/proto/spanner_pb2_grpc.py
Labels: api: spanner

#668 chore: update supported python versions in README to >= 3.6
  README.rst
Labels: api: spanner

#669 chore: make samples 3.6 check optional
  .github/sync-repo-settings.yaml
Labels: api: spanner, samples
