Repository googleapis/python-spanner, pull requests merged in 2022-07, with the labels that each got.

#759 test: postgresql tests fix
  noxfile.py
  tests/system/_helpers.py
  tests/system/conftest.py
  tests/system/test_backup_api.py
  tests/system/test_database_api.py
  tests/system/test_session_api.py
Labels: api: spanner, automerge, size: m

#767 feat: Automated Release Blessing
  .kokoro/presubmit/spanner_perf_bench.cfg
Labels: api: spanner, size: xs

#646 feat: python typing
  google/cloud/spanner_v1/__init__.py
  google/cloud/spanner_v1/instance.py
  google/cloud/spanner_v1/snapshot.py
Labels: api: spanner, cla: yes, automerge, size: xs

#769 fix: Unskip test_create_client_with_query_options
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, size: xs
