Repository googleapis/python-spanner, pull requests merged in 2022-04, with the labels that each got.

#693 chore: set up CI on v1 branch
  .github/workflows/docs.yml
  .github/workflows/integration-tests-against-emulator.yaml
  .github/workflows/lint.yml
  .github/workflows/unittest.yml
  .kokoro/release.sh
  .kokoro/release/common.cfg
  google/cloud/spanner_admin_database_v1/proto/spanner_database_admin_pb2_grpc.py
  google/cloud/spanner_admin_instance_v1/proto/spanner_instance_admin_pb2_grpc.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/proto/spanner_pb2_grpc.py
  noxfile.py
  samples/samples/backup_sample_test.py
  samples/samples/noxfile.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  tests/unit/test_client.py
Labels: api: spanner

#692 chore: set up CI on v2 branch
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/unittest.yml
  .kokoro/release.sh
  .kokoro/release/common.cfg
  docs/conf.py
  google/cloud/spanner_admin_database_v1/services/database_admin/async_client.py
  google/cloud/spanner_admin_database_v1/services/database_admin/client.py
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/base.py
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/grpc.py
  google/cloud/spanner_admin_database_v1/services/database_admin/transports/grpc_asyncio.py
  google/cloud/spanner_admin_database_v1/types/backup.py
  google/cloud/spanner_admin_database_v1/types/common.py
  google/cloud/spanner_admin_database_v1/types/spanner_database_admin.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/async_client.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/client.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/base.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/grpc.py
  google/cloud/spanner_admin_instance_v1/services/instance_admin/transports/grpc_asyncio.py
  google/cloud/spanner_admin_instance_v1/types/spanner_instance_admin.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_v1/backup.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/instance.py
  google/cloud/spanner_v1/services/spanner/async_client.py
  google/cloud/spanner_v1/services/spanner/client.py
  google/cloud/spanner_v1/services/spanner/transports/base.py
  google/cloud/spanner_v1/services/spanner/transports/grpc.py
  google/cloud/spanner_v1/services/spanner/transports/grpc_asyncio.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/streamed.py
  google/cloud/spanner_v1/types/keys.py
  google/cloud/spanner_v1/types/mutation.py
  google/cloud/spanner_v1/types/query_plan.py
  google/cloud/spanner_v1/types/result_set.py
  google/cloud/spanner_v1/types/spanner.py
  google/cloud/spanner_v1/types/transaction.py
  google/cloud/spanner_v1/types/type.py
  noxfile.py
  tests/unit/gapic/spanner_admin_database_v1/test_database_admin.py
  tests/unit/gapic/spanner_admin_instance_v1/test_instance_admin.py
  tests/unit/gapic/spanner_v1/test_spanner.py
  tests/unit/spanner_dbapi/test_connect.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
  tests/unit/test_backup.py
  tests/unit/test_client.py
  tests/unit/test_database.py
  tests/unit/test_keyset.py
  tests/unit/test_session.py
Labels: api: spanner

#688 fix(deps): require google-api-core >= 1.31.5, >= 2.3.2 on v2 release
  noxfile.py
  setup.py
Labels: api: spanner

#687 fix(deps): require google-api-core >= 1.31.5, >= 2.3.2 on v1 release
  noxfile.py
  setup.py
Labels: api: spanner

#708 chore: allow releases from previous major versions
  .github/.OwlBot.lock.yaml
  .github/release-please.yml
  owlbot.py
Labels: api: spanner, size: s

#718 fix: add NOT_FOUND error check in __exit__ method of SessionCheckout.
  google/cloud/spanner_v1/database.py
  tests/unit/test_database.py
Labels: api: spanner, size: m
