Repository googleapis/python-spanner, pull requests merged in 2022-10, with the labels that each got.

#672 feat: add samples for CMMR phase 2
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, size: m

#794 samples: changes to json samples updating for JsonObject and linting
  samples/samples/autocommit.py
  samples/samples/autocommit_test.py
  samples/samples/backup_sample_test.py
  samples/samples/batch_sample.py
  samples/samples/conftest.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, samples, size: l

#834 feat: support request priorities
  google/cloud/spanner_dbapi/connection.py
  tests/unit/spanner_dbapi/test_connection.py
Labels: api: spanner, type: feature request, size: s

#839 fix(deps): allow protobuf 3.19.5
  setup.py
  testing/constraints-3.7.txt
Labels: api: spanner, size: xs

#838 feat: support request options in !autocommit mode
  google/cloud/spanner_dbapi/_helpers.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  tests/unit/spanner_dbapi/test__helpers.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, size: m

#844 docs: describe DB API and transactions retry mechanism
  README.rst
Labels: api: spanner, automerge, size: s
