Repository googleapis/python-spanner, pull requests merged in 2023-07, with the labels that each got.

#940 feat: Set LAR True
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_v1/client.py
  tests/unit/spanner_dbapi/test_connect.py
  tests/unit/test_client.py
Labels: api: spanner, automerge, size: s

#980 feat: Set LAR as False
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_v1/client.py
  tests/unit/spanner_dbapi/test_connect.py
  tests/unit/test_client.py
Labels: api: spanner, automerge, size: s

#969 chore: dev containers
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
  .devcontainer/requirements.in
  .devcontainer/requirements.txt
Labels: api: spanner, size: m

#910 feat: foreign key on delete cascade action testing and samples
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  tests/_fixtures.py
  tests/system/test_database_api.py
Labels: api: spanner, samples, size: l
