Repository googleapis/python-spanner, pull requests merged in 2023-05, with the labels that each got.

#943 fix: upgrade version of sqlparse
  setup.py
  testing/constraints-3.7.txt
Labels: api: spanner, size: xs

#914 feat: add support for updateDatabase in Cloud Spanner
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/instance.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  tests/system/test_database_api.py
  tests/unit/test_database.py
Labels: api: spanner, size: m

#934 fix: Catch rst stream error for all transactions
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/test__helpers.py
  tests/unit/test_snapshot.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: l
