Repository googleapis/python-spanner, pull requests merged in 2023-04, with the labels that each got.

#921 feat: Proto column feature tests and samples
  google/cloud/spanner_v1/_helpers.py
  samples/samples/conftest.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  setup.py
  testing/constraints-3.7.txt
  tests/_fixtures.py
  tests/system/_helpers.py
  tests/system/_sample_data.py
  tests/system/conftest.py
  tests/system/test_backup_api.py
  tests/system/test_database_api.py
  tests/system/test_session_api.py
  tests/system/testdata/descriptors.pb
  tests/unit/test__helpers.py
  tests/unit/test_database.py
  tests/unit/test_instance.py
  tests/unit/test_param_types.py
  tests/unit/test_session.py
Labels: api: spanner, samples, size: l

#892 feat: add databoost enabled property for batch transactions
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/snapshot.py
  samples/samples/batch_sample.py
  tests/system/test_session_api.py
  tests/unit/test_database.py
Labels: api: spanner, size: m

#931 feat: enable instance-level connection
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, size: m

#899 feat: Leader Aware Routing
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  tests/unit/spanner_dbapi/test_connect.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/test__helpers.py
  tests/unit/test_batch.py
  tests/unit/test_client.py
  tests/unit/test_database.py
  tests/unit/test_instance.py
  tests/unit/test_pool.py
  tests/unit/test_session.py
  tests/unit/test_snapshot.py
  tests/unit/test_spanner.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: l
