Repository googleapis/python-spanner, pull requests merged in 2023-08, with the labels that each got.

#937 samples: bit reverse sequence
  google/cloud/spanner_dbapi/parser.py
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/backup.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  samples/samples/conftest.py
  samples/samples/noxfile.py
  samples/samples/pg_snippets.py
  samples/samples/pg_snippets_test.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  tests/unit/test_batch.py
  tests/unit/test_client.py
  tests/unit/test_instance.py
  tests/unit/test_snapshot.py
  tests/unit/test_transaction.py
Labels: api: spanner, samples, size: xl

#986 handover: change owner to harshachinta
  .github/blunderbuss.yml
Labels: api: spanner, size: xs

#992 Revert "feat: Set LAR as False (#980)"
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_v1/client.py
  tests/unit/spanner_dbapi/test_connect.py
  tests/unit/test_client.py
Labels: api: spanner, automerge, size: s

#977 fix: Set Data boost enabled to true
  samples/samples/batch_sample.py
  tests/system/test_session_api.py
Labels: api: spanner, size: xs

#1002 fix: fix to reload table when checking if table exists
  google/cloud/spanner_v1/table.py
  tests/system/test_table_api.py
Labels: api: spanner, size: s
