Repository googleapis/python-spanner, pull requests merged in 2023-12, with the labels that each got.

#1036 feat: Introduce compatibility with native namespace packages
  .coveragerc
  google/__init__.py
  google/cloud/__init__.py
  noxfile.py
  owlbot.py
  setup.py
  tests/unit/test_packaging.py
Labels: api: spanner, size: m

#880 fix: require proto-plus 1.22.2 for python 3.11+
  setup.py
Labels: api: spanner, size: xs

#1027 feat: Batch Write API implementation and samples
  google/cloud/spanner_v1/__init__.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/database.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  tests/system/_sample_data.py
  tests/system/test_session_api.py
  tests/unit/test_batch.py
  tests/unit/test_database.py
Labels: api: spanner, samples, size: l

#1046 feat: Implementation of client side statements that return
  google/cloud/spanner_dbapi/client_side_statement_executor.py
  google/cloud/spanner_dbapi/client_side_statement_parser.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parsed_statement.py
  google/cloud/spanner_v1/snapshot.py
  tests/system/test_dbapi.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
  tests/unit/spanner_dbapi/test_parse_utils.py
  tests/unit/test_snapshot.py
Labels: api: spanner, size: l

#1055 feat: Implementation for batch dml in dbapi
  google/cloud/spanner_dbapi/batch_dml_executor.py
  google/cloud/spanner_dbapi/client_side_statement_executor.py
  google/cloud/spanner_dbapi/client_side_statement_parser.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parse_utils.py
  google/cloud/spanner_dbapi/parsed_statement.py
  tests/system/test_dbapi.py
  tests/unit/spanner_dbapi/test_batch_dml_executor.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, size: l
