Repository googleapis/python-spanner, pull requests merged in 2024-07, with the labels that each got.

#1156 chore: update templated files
  .flake8
  .github/.OwlBot.lock.yaml
  .github/auto-label.yaml
  .kokoro/build.sh
  .kokoro/docker/docs/Dockerfile
  .kokoro/populate-secrets.sh
  .kokoro/publish-docs.sh
  .kokoro/release.sh
  .kokoro/requirements.txt
  .kokoro/test-samples-against-head.sh
  .kokoro/test-samples.sh
  .kokoro/trampoline.sh
  .kokoro/trampoline_v2.sh
  .pre-commit-config.yaml
  .trampolinerc
  MANIFEST.in
  docs/conf.py
  noxfile.py
  owlbot.py
  scripts/decrypt-secrets.sh
  scripts/readme-gen/readme_gen.py
Labels: api: spanner, size: l

#1164 chore(spanner): Issue#1163 Remove dependency of dbapi from spanner_v1
  google/cloud/spanner_dbapi/partition_helper.py
  google/cloud/spanner_v1/__init__.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/transaction.py
Labels: api: spanner, size: s

#1145 chore(spanner): unskip emulator tests for proto
  tests/system/test_database_api.py
  tests/system/test_session_api.py
Labels: api: spanner, size: xs
