Repository googleapis/python-spanner, pull requests merged in 2024-08, with the labels that each got.

#1162 chore(spanner): Issue591# cursor.list tables() is returning views
  google/cloud/spanner_dbapi/_helpers.py
  google/cloud/spanner_dbapi/cursor.py
  tests/system/test_dbapi.py
  tests/unit/spanner_dbapi/test_cursor.py
Labels: api: spanner, size: s

#1168 feat(spanner): add samples for instance partitions
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, samples, size: s

#1184 test(spanner): Refactoring testdata
  tests/system/_sample_data.py
  tests/system/test_session_api.py
  tests/system/testdata/singer.proto
  tests/system/testdata/singer_pb2.py
  tests/unit/test__helpers.py
  tests/unit/test_param_types.py
  tests/unit/testdata/singer.proto
  tests/unit/testdata/singer_pb2.py
Labels: api: spanner, size: m

#1158 chore(spanner): Issue#1143 - Update dependency
  noxfile.py
  owlbot.py
  setup.py
Labels: api: spanner, size: s

#1181 chore(spanner): Issue1178# [spanner_dbapi] While running a query that contains just comment, it causes an IndexError exception
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parse_utils.py
  tests/system/test_dbapi.py
Labels: api: spanner, size: xs

#1186 feat: Create a few code snippets as examples for using Spanner Graph in Python
  samples/samples/graph_snippets.py
  samples/samples/graph_snippets_test.py
Labels: api: spanner, samples, size: l
