Repository googleapis/python-spanner, pull requests merged in 2024-03, with the labels that each got.

#1110 docs: use autogenerated methods to get names from admin samples
  samples/samples/backup_sample.py
  samples/samples/pg_snippets.py
  samples/samples/snippets.py
Labels: api: spanner, samples, size: l

#1106 test: skip sample tests if no changes detected
  .kokoro/test-samples-impl.sh
  owlbot.py
Labels: api: spanner, samples, size: s

#1107 feat: add retry and timeout for batch dml
  google/cloud/spanner_v1/transaction.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  tests/unit/test_spanner.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: m

#1097 samples: add a sample for the max commit delay feature
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, samples, size: s

#1111 docs: add sample for managed autoscaler
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, samples, size: m

#1114 fix: Correcting name of variable from `table_schema` to `schema_name`
  google/cloud/spanner_dbapi/_helpers.py
Labels: api: spanner, size: xs

#1113 feat: add support of float32 type
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/param_types.py
  google/cloud/spanner_v1/streamed.py
  tests/system/_sample_data.py
  tests/system/test_session_api.py
  tests/unit/test__helpers.py
  tests/unit/test_param_types.py
Labels: api: spanner, size: m

#1115 feat: support float32 in dbapi
  google/cloud/spanner_dbapi/_helpers.py
  google/cloud/spanner_dbapi/types.py
Labels: api: spanner, size: xs
