Repository googleapis/python-spanner, pull requests merged in 2024-12, with the labels that each got.

#1244 perf: optimize ResultSet decoding
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/streamed.py
  tests/system/test_session_api.py
Labels: api: spanner, size: l

#1249 feat: add connection variable for ignoring transaction warnings
  google/cloud/spanner_dbapi/connection.py
  tests/unit/spanner_dbapi/test_connection.py
Labels: api: spanner, size: s

#1247 fix: allow setting connection.read_only to same value
  google/cloud/spanner_dbapi/connection.py
  tests/unit/spanner_dbapi/test_connection.py
Labels: api: spanner, size: xs

#1245 feat: support float32 parameters in dbapi
  google/cloud/spanner_dbapi/parse_utils.py
  tests/system/test_dbapi.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, size: m

#1217 test: add mock server tests
  .github/workflows/mock_server_tests.yaml
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/testing/__init__.py
  google/cloud/spanner_v1/testing/mock_database_admin.py
  google/cloud/spanner_v1/testing/mock_spanner.py
  google/cloud/spanner_v1/testing/spanner_database_admin_pb2_grpc.py
  google/cloud/spanner_v1/testing/spanner_pb2_grpc.py
  noxfile.py
  tests/mockserver_tests/__init__.py
  tests/mockserver_tests/test_basics.py
Labels: api: spanner, size: xl

#1253 fix: allow setting staleness to same value in tx
  google/cloud/spanner_dbapi/connection.py
  tests/unit/spanner_dbapi/test_connection.py
Labels: api: spanner, owlbot:ignore, size: s

#1252 perf: remove repeated GetSession calls for FixedSizePool
  google/cloud/spanner_v1/_opentelemetry_tracing.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  tests/mockserver_tests/test_basics.py
  tests/unit/test_pool.py
Labels: api: spanner, owlbot:ignore, size: m

#1254 build: add mock server tests to Owlbot config
  noxfile.py
  owlbot.py
Labels: api: spanner, size: s

#1257 fix: dbapi raised AttributeError with [] as arguments
  google/cloud/spanner_v1/transaction.py
  tests/mockserver_tests/test_basics.py
Labels: api: spanner, size: s

#1255 test: create base class for mockserver tests
  tests/mockserver_tests/mock_server_test_base.py
  tests/mockserver_tests/test_basics.py
Labels: api: spanner, size: l

#1248 fix(tracing): only set span.status=OK if UNSET
  google/cloud/spanner_v1/_opentelemetry_tracing.py
  tests/unit/test__opentelemetry_tracing.py
Labels: api: spanner, size: s

#1207 observability: annotate Session+SessionPool events
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/_opentelemetry_tracing.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/transaction.py
  tests/_helpers.py
  tests/unit/test_batch.py
  tests/unit/test_database.py
  tests/unit/test_pool.py
  tests/unit/test_session.py
  tests/unit/test_snapshot.py
  tests/unit/test_spanner.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: l

#1267 test: add test to verify that transactions are retried
  google/cloud/spanner_v1/testing/mock_spanner.py
  tests/mockserver_tests/mock_server_test_base.py
  tests/mockserver_tests/test_aborted_transaction.py
Labels: api: spanner, size: m

#1259 feat: add updated span events + trace more methods
  google/cloud/spanner_v1/_opentelemetry_tracing.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  tests/_helpers.py
  tests/system/_helpers.py
  tests/system/test_observability_options.py
  tests/system/test_session_api.py
  tests/unit/test_batch.py
  tests/unit/test_pool.py
  tests/unit/test_session.py
  tests/unit/test_snapshot.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: l

#1275 feat(x-goog-spanner-request-id): introduce AtomicCounter
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/request_id_header.py
  tests/unit/test_atomic_counter.py
Labels: api: spanner, size: m

#1271 test: support inline-begin in mock server
  google/cloud/spanner_v1/testing/mock_spanner.py
  tests/mockserver_tests/test_aborted_transaction.py
Labels: api: spanner, size: m
