Repository googleapis/python-spanner, pull requests merged in 2024-01, with the labels that each got.

#1057 test: unit test case fix
  tests/unit/test_spanner.py
Labels: api: spanner, size: m

#1000 feat: Add support for Directed Reads
  google/cloud/spanner_v1/__init__.py
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/snapshot.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  tests/system/test_database_api.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/test_client.py
  tests/unit/test_database.py
  tests/unit/test_instance.py
  tests/unit/test_snapshot.py
  tests/unit/test_spanner.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: l

#1067 feat: Implementation for partitioned query in dbapi
  google/cloud/spanner_dbapi/client_side_statement_executor.py
  google/cloud/spanner_dbapi/client_side_statement_parser.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/parse_utils.py
  google/cloud/spanner_dbapi/parsed_statement.py
  google/cloud/spanner_dbapi/partition_helper.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/snapshot.py
  tests/system/test_dbapi.py
  tests/unit/spanner_dbapi/test_parse_utils.py
  tests/unit/test_database.py
Labels: api: spanner, size: l

#1071 fix: Fix for flaky test_read_timestamp_client_side_autocommit test
  tests/system/test_dbapi.py
Labels: api: spanner, size: xs

#1056 feat: Fixing and refactoring transaction retry logic in dbapi. Also adding interceptors support for testing
  google/cloud/spanner_dbapi/batch_dml_executor.py
  google/cloud/spanner_dbapi/checksum.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parse_utils.py
  google/cloud/spanner_dbapi/parsed_statement.py
  google/cloud/spanner_dbapi/transaction_helper.py
  google/cloud/spanner_v1/instance.py
  google/cloud/spanner_v1/testing/database_test.py
  google/cloud/spanner_v1/testing/interceptors.py
  setup.py
  testing/constraints-3.7.txt
  tests/system/test_dbapi.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_cursor.py
  tests/unit/spanner_dbapi/test_transaction_helper.py
Labels: api: spanner, size: xl

#1080 feat: Implementation of run partition query
  google/cloud/spanner_dbapi/client_side_statement_executor.py
  google/cloud/spanner_dbapi/client_side_statement_parser.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parsed_statement.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/merged_result_set.py
  tests/system/test_dbapi.py
  tests/system/test_session_api.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, size: l

#1085 fix: Few fixes in DBAPI
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  tests/unit/spanner_dbapi/test_connection.py
Labels: api: spanner, size: s

#1065 docs: samples and tests for auto-generated createDatabase and createInstance APIs.
  samples/samples/admin/samples.py
  samples/samples/admin/samples_test.py
Labels: api: spanner, samples, size: m

#1086 fix(spanner): add SpannerAsyncClient import to spanner_v1 package
  google/cloud/spanner_v1/__init__.py
Labels: api: spanner, size: xs

#1088 fix: Small fix in `description` when metadata property is not present in cursor's _result_set
  google/cloud/spanner_dbapi/cursor.py
Labels: api: spanner, size: xs
