Repository googleapis/python-spanner, pull requests merged in 2024-09, with the labels that each got.

#1197 fix(spanner): Revert "chore(spanner): Issue#1143 - Update dependency"
  noxfile.py
  owlbot.py
  setup.py
Labels: api: spanner, size: s

#1201 test: enable emulator tests for POSTGRESQL dialect
  google/cloud/spanner_v1/database.py
  tests/system/conftest.py
  tests/system/test_instance_api.py
  tests/system/test_session_api.py
Labels: api: spanner, size: s

#1196 chore(samples): add sample for spanner edition
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, samples, size: s

#1199 tracing: update OpenTelemetry dependencies from 2021 to 2024
  docs/opentelemetry-tracing.rst
  examples/grpc_instrumentation_enabled.py
  examples/trace.py
  google/cloud/spanner_v1/_opentelemetry_tracing.py
  setup.py
  testing/constraints-3.7.txt
  tests/_helpers.py
  tests/system/test_session_api.py
  tests/unit/test__opentelemetry_tracing.py
  tests/unit/test_batch.py
  tests/unit/test_session.py
  tests/unit/test_snapshot.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: l

#1204 chore(samples): Add samples for Cloud Spanner Scheduled Backups
  samples/samples/backup_schedule_samples.py
  samples/samples/backup_schedule_samples_test.py
Labels: api: spanner, samples, size: l
