Repository googleapis/python-spanner, pull requests merged in 2024-02, with the labels that each got.

#1050 feat: Add support for max commit delay
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/transaction.py
  tests/system/test_database_api.py
  tests/unit/test_batch.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: m

#1100 feat: Exposing Spanner client in dbapi connection
  google/cloud/spanner_dbapi/connection.py
Labels: api: spanner, size: xs

#1073 chore: support named schemas
  google/cloud/spanner_dbapi/_helpers.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/table.py
  tests/system/test_table_api.py
  tests/unit/spanner_dbapi/test_cursor.py
  tests/unit/test_database.py
  tests/unit/test_table.py
Labels: api: spanner, size: m

#1001 feat: Untyped param
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  tests/system/test_session_api.py
  tests/unit/test_database.py
  tests/unit/test_snapshot.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: m

#1101 chore: Adding schema name property in dbapi connection
  google/cloud/spanner_dbapi/connection.py
  tests/unit/spanner_dbapi/test_connection.py
Labels: api: spanner, size: m

#1102 chore: add a new directory for archived samples of admin APIs.
  samples/samples/archived/.gitkeep
Labels: api: spanner, samples, size: u

#1075 feat(spanner): Include RENAME in DDL regex
  google/cloud/spanner_dbapi/parse_utils.py
Labels: api: spanner, size: xs

#1103 feat: support partitioned dml in dbapi
  google/cloud/spanner_dbapi/client_side_statement_executor.py
  google/cloud/spanner_dbapi/client_side_statement_parser.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parsed_statement.py
  tests/system/test_dbapi.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, size: m

#1105 docs: samples and tests for admin backup APIs
  samples/samples/admin/backup_snippet.py
  samples/samples/admin/backup_snippet_test.py
  samples/samples/admin/samples.py
  samples/samples/admin/samples_test.py
Labels: api: spanner, samples, size: l

#1099 docs: samples and tests for admin database APIs
  samples/samples/admin/pg_samples.py
  samples/samples/admin/pg_samples_test.py
  samples/samples/admin/samples.py
  samples/samples/admin/samples_test.py
Labels: api: spanner, samples, size: xl
