Repository googleapis/python-spanner, pull requests merged in 2024-11, with the labels that each got.

#1215 fix: pin `nox` version in `requirements.in` for devcontainer.
  .devcontainer/postCreate.sh
  .devcontainer/requirements.in
  .devcontainer/requirements.txt
Labels: api: spanner, size: s

#1223 fix: pass through route-to-leader option in dbapi
  .kokoro/docker/docs/requirements.txt
  google/cloud/spanner_dbapi/connection.py
  tests/unit/spanner_dbapi/test_connect.py
Labels: api: spanner, size: m

#1230 chore(spanner): multi_scm issue in python release
  .github/release-trigger.yml
Labels: api: spanner, size: xs

#1236 fix: json data type for non object values
  google/cloud/spanner_v1/data_types.py
  tests/unit/test_datatypes.py
Labels: api: spanner, size: m

#1229 feat(spanner): implement custom tracer_provider injection for opentelemetry traces
  docs/opentelemetry-tracing.rst
  examples/trace.py
  google/cloud/spanner_v1/_opentelemetry_tracing.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  tests/system/test_observability_options.py
Labels: api: spanner, size: l

#1238 docs(samples): Add samples for Cloud Spanner Default Backup Schedules
  samples/samples/requirements.txt
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, samples, size: m
