Repository googleapis/python-spanner, pull requests merged in 2025-05, with the labels that each got.

#1369 test: fix retry helpers currently causing flaky test failures
  noxfile.py
  tests/mockserver_tests/test_aborted_transaction.py
  tests/system/_helpers.py
  tests/system/test_dbapi.py
  tests/system/test_session_api.py
Labels: api: spanner, size: m

#1368 fix: pass through kwargs in dbapi connect
  google/cloud/spanner_dbapi/connection.py
  tests/unit/spanner_dbapi/test_connect.py
Labels: api: spanner, size: s

#1366 chore(x-goog-request-id): commit testing scaffold
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/request_id_header.py
  google/cloud/spanner_v1/testing/database_test.py
  google/cloud/spanner_v1/testing/interceptors.py
  google/cloud/spanner_v1/testing/mock_spanner.py
  tests/mockserver_tests/mock_server_test_base.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: m

#1338 feat: support fine-grained permissions database roles in connect
  README.rst
  google/cloud/spanner_dbapi/connection.py
  tests/system/test_dbapi.py
  tests/unit/spanner_dbapi/test_connect.py
  tests/unit/spanner_dbapi/test_connection.py
Labels: api: spanner, size: m

#1372 test: add explicit credentials and project to test
  .kokoro/presubmit/presubmit.cfg
  tests/unit/spanner_dbapi/test_connection.py
Labels: api: spanner, size: s

#1373 build: exclude presubmit.cfg from owlbot generation
  .kokoro/presubmit/presubmit.cfg
  owlbot.py
Labels: api: spanner, size: xs

#1367 chore(x-goog-spanner-request-id): plug in functionality after test scaffolding
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/testing/interceptors.py
  google/cloud/spanner_v1/transaction.py
  tests/unit/test_batch.py
  tests/unit/test_database.py
  tests/unit/test_pool.py
  tests/unit/test_session.py
  tests/unit/test_snapshot.py
  tests/unit/test_spanner.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: xl

#1376 test: add a test for unary retries of UNAVAILABLE
  tests/mockserver_tests/test_basics.py
Labels: api: spanner, size: s

#1377 docs: fix markdown formatting in transactions page
  docs/transaction-usage.rst
Labels: api: spanner, size: s

#1378 chore(x-goog-spanner-request-id): add x_goog_spanner_request_id as an attribute to OTEL spans
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/request_id_header.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/testing/interceptors.py
  google/cloud/spanner_v1/transaction.py
  tests/system/test_session_api.py
  tests/unit/test_batch.py
  tests/unit/test_database.py
  tests/unit/test_pool.py
  tests/unit/test_session.py
  tests/unit/test_snapshot.py
  tests/unit/test_spanner.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: l
