Repository googleapis/python-spanner, pull requests merged in 2025-01, with the labels that each got.

#1278 fix: retry UNAVAILABLE errors for streaming RPCs
  google/cloud/spanner_v1/snapshot.py
  tests/mockserver_tests/mock_server_test_base.py
  tests/mockserver_tests/test_basics.py
Labels: api: spanner, size: m

#1273 chore: Add Custom OpenTelemetry Exporter in for Service Metrics
  google/cloud/spanner_v1/metrics/README.md
  google/cloud/spanner_v1/metrics/constants.py
  google/cloud/spanner_v1/metrics/metrics_exporter.py
  setup.py
  testing/constraints-3.10.txt
  testing/constraints-3.11.txt
  testing/constraints-3.12.txt
  testing/constraints-3.13.txt
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
  testing/constraints-3.9.txt
  tests/unit/test_metric_exporter.py
Labels: api: spanner, size: l

#1279 fix: update retry strategy for mutation calls to handle aborted transactions
  .gitignore
  google/cloud/spanner_dbapi/transaction_helper.py
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/testing/mock_spanner.py
  tests/mockserver_tests/test_aborted_transaction.py
  tests/unit/test__helpers.py
  tests/unit/test_batch.py
  tests/unit/test_database.py
  tests/unit/test_session.py
Labels: api: spanner, size: l

#1274 observability: PDML + some batch write spans
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/merged_result_set.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/snapshot.py
  tests/_helpers.py
  tests/system/test_observability_options.py
  tests/system/test_session_api.py
  tests/unit/test_batch.py
  tests/unit/test_pool.py
  tests/unit/test_snapshot.py
Labels: api: spanner, size: l

#1287 fix(tracing): ensure nesting of Transaction.begin under commit + fix suggestions from feature review
  google/cloud/spanner_v1/_opentelemetry_tracing.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  tests/system/test_observability_options.py
  tests/unit/test__opentelemetry_tracing.py
  tests/unit/test_snapshot.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: l

#1262 feat: support transaction and request tags in dbapi
  .gitignore
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  tests/mockserver_tests/test_tags.py
Labels: api: spanner, size: l

#1291 feat: metricsTracer implementation
  google/cloud/spanner_v1/metrics/metrics_exporter.py
  google/cloud/spanner_v1/metrics/metrics_tracer.py
  google/cloud/spanner_v1/metrics/metrics_tracer_factory.py
  tests/unit/test_metrics_tracer.py
  tests/unit/test_metrics_tracer_factory.py
Labels: api: spanner, size: xl
