Repository googleapis/python-spanner, pull requests merged in 2025-03, with the labels that each got.

#1319 chore: Remove unused files
  .github/.OwlBot.lock.yaml
  .kokoro/docker/docs/Dockerfile
  .kokoro/docker/docs/requirements.in
  .kokoro/docker/docs/requirements.txt
  .kokoro/docs/common.cfg
  .kokoro/docs/docs-presubmit.cfg
  .kokoro/docs/docs.cfg
  .kokoro/publish-docs.sh
  .kokoro/release.sh
  .kokoro/release/common.cfg
  .kokoro/release/release.cfg
  .kokoro/requirements.in
  .kokoro/requirements.txt
Labels: api: spanner, size: xl

#1302 feat: Add Attempt, Operation and GFE Metrics
  google/cloud/spanner_v1/_opentelemetry_tracing.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/merged_result_set.py
  google/cloud/spanner_v1/metrics/constants.py
  google/cloud/spanner_v1/metrics/metrics_capture.py
  google/cloud/spanner_v1/metrics/metrics_exporter.py
  google/cloud/spanner_v1/metrics/metrics_interceptor.py
  google/cloud/spanner_v1/metrics/metrics_tracer.py
  google/cloud/spanner_v1/metrics/metrics_tracer_factory.py
  google/cloud/spanner_v1/metrics/spanner_metrics_tracer_factory.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/services/spanner/client.py
  google/cloud/spanner_v1/services/spanner/transports/base.py
  google/cloud/spanner_v1/services/spanner/transports/grpc.py
  google/cloud/spanner_v1/services/spanner/transports/grpc_asyncio.py
  google/cloud/spanner_v1/services/spanner/transports/rest.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  setup.py
  testing/constraints-3.7.txt
  tests/mockserver_tests/test_tags.py
  tests/unit/gapic/spanner_v1/test_spanner.py
  tests/unit/test_client.py
  tests/unit/test_metrics.py
  tests/unit/test_metrics_capture.py
  tests/unit/test_metrics_exporter.py
  tests/unit/test_metrics_interceptor.py
  tests/unit/test_metrics_tracer.py
  tests/unit/test_metrics_tracer_factory.py
  tests/unit/test_spanner_metrics_tracer_factory.py
Labels: api: spanner, size: xl

#1320 fix: allow Protobuf 6.x
  owlbot.py
  setup.py
Labels: api: spanner, size: s

#1315 feat: end to end tracing
  docs/opentelemetry-tracing.rst
  examples/trace.py
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/_opentelemetry_tracing.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  tests/unit/test_batch.py
  tests/unit/test_snapshot.py
  tests/unit/test_transaction.py
Labels: api: spanner, automerge, size: m

#1318 feat: snapshot isolation
  google/cloud/spanner_v1/__init__.py
  google/cloud/spanner_v1/_helpers.py
  google/cloud/spanner_v1/batch.py
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/transaction.py
  tests/unit/test__helpers.py
  tests/unit/test_batch.py
  tests/unit/test_client.py
  tests/unit/test_database.py
  tests/unit/test_instance.py
  tests/unit/test_session.py
  tests/unit/test_spanner.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: l

#1322 test: cleanup after metric integration test
  tests/unit/test_metrics.py
Labels: api: spanner, size: s
