Repository googleapis/python-spanner, pull requests merged in 2025-04, with the labels that each got.

#1327 feat: support transaction isolation level in dbapi
  google/cloud/spanner_dbapi/connection.py
  tests/mockserver_tests/test_dbapi_isolation_level.py
Labels: api: spanner, size: m

#1328 fix: improve client-side regex statement parser
  google/cloud/spanner_dbapi/batch_dml_executor.py
  google/cloud/spanner_dbapi/client_side_statement_parser.py
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_dbapi/cursor.py
  google/cloud/spanner_dbapi/parse_utils.py
  google/cloud/spanner_dbapi/parsed_statement.py
  tests/unit/spanner_dbapi/test_parse_utils.py
Labels: api: spanner, size: m

#1329 feat: Add support for multiplexed sessions - part 1 (supporting classes and refactoring)
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_v1/client.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/database_sessions_manager.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/session_options.py
  tests/system/test_database_api.py
  tests/system/test_observability_options.py
  tests/unit/spanner_dbapi/test_connect.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/test_database.py
  tests/unit/test_database_session_manager.py
  tests/unit/test_instance.py
  tests/unit/test_pool.py
  tests/unit/test_session.py
  tests/unit/test_session_options.py
Labels: api: spanner, size: xl

#1334 feat: Add support for multiplexed sessions - part 2 (read-only transactions)
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/database_sessions_manager.py
  google/cloud/spanner_v1/session_options.py
  tests/unit/test_database_session_manager.py
  tests/unit/test_session_options.py
Labels: api: spanner, size: l

#1333 docs: add sample for pre-split feature
  samples/samples/snippets.py
  samples/samples/snippets_test.py
Labels: api: spanner, samples, size: m

#1339 chore: edition sample fix with increased timeout
  samples/samples/snippets.py
Labels: api: spanner, samples, size: xs

#1342 feat: Add support for multiplexed sessions - part 3 (partitioned transactions)
  google/cloud/spanner_dbapi/connection.py
  google/cloud/spanner_v1/database.py
  google/cloud/spanner_v1/database_sessions_manager.py
  google/cloud/spanner_v1/pool.py
  google/cloud/spanner_v1/session.py
  google/cloud/spanner_v1/session_options.py
  google/cloud/spanner_v1/snapshot.py
  tests/_builders.py
  tests/_helpers.py
  tests/system/test_observability_options.py
  tests/system/test_session_api.py
  tests/unit/spanner_dbapi/test_connection.py
  tests/unit/test_database.py
  tests/unit/test_database_session_manager.py
  tests/unit/test_instance.py
  tests/unit/test_pool.py
  tests/unit/test_session_options.py
  tests/unit/test_snapshot.py
Labels: api: spanner, size: xl

#1324 fix: remove setup.cfg configuration for creating universal wheels
  setup.cfg
Labels: api: spanner, size: s
