Repository googleapis/python-spanner, pull requests merged in 2025-08, with the labels that each got.

#1400 feat: support configuring logger in dbapi kwargs
  google/cloud/spanner_dbapi/connection.py
  tests/mockserver_tests/mock_server_test_base.py
  tests/mockserver_tests/test_request_id_header.py
  tests/unit/spanner_dbapi/test_connect.py
  tests/unit/spanner_dbapi/test_connection.py
Labels: api: spanner, automerge, size: s

#1402 chore: make precommit token check emulator-proof
  .github/workflows/integration-tests-against-emulator.yaml
  google/cloud/spanner_v1/snapshot.py
  google/cloud/spanner_v1/transaction.py
  tests/system/test_database_api.py
  tests/system/test_session_api.py
  tests/unit/test_snapshot.py
  tests/unit/test_transaction.py
Labels: api: spanner, size: s

#1395 deps: Remove Python 3.7 and 3.8 as supported runtimes
  .github/sync-repo-settings.yaml
  .github/workflows/presubmit.yaml
  .kokoro/samples/python3.7/common.cfg
  .kokoro/samples/python3.7/continuous.cfg
  .kokoro/samples/python3.7/periodic-head.cfg
  .kokoro/samples/python3.7/periodic.cfg
  .kokoro/samples/python3.7/presubmit.cfg
  .kokoro/samples/python3.8/common.cfg
  .kokoro/samples/python3.8/continuous.cfg
  .kokoro/samples/python3.8/periodic-head.cfg
  .kokoro/samples/python3.8/periodic.cfg
  .kokoro/samples/python3.8/presubmit.cfg
  CONTRIBUTING.rst
  README.rst
  noxfile.py
  owlbot.py
  samples/samples/noxfile.py
  samples/samples/snippets.py
  samples/samples/snippets_test.py
  setup.py
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
Labels: api: spanner, samples, size: m
